{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
<h1>My courses</h1>
<div class="module">
    {% for course in courses %}
    <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p>
            <a href="{% url 'courses:course-update' course.id %}">Edit</a>
            <a href="{% url 'courses:course-delete' course.id %}">Delete</a>
            <a href="{% url 'courses:module-update' course.id %}">Edit modules</a>
            {% if course.modules.count > 0 %}
            <a href="{% url 'courses:module-content-list' course.modules.first.id %}">Manage contents</a>
            {% endif %}
        </p>
    </div>
    {% empty %}
    <p>You haven't created any courses yet.</p>
    {% endfor %}
    <p>
        <a href="{% url 'courses:course-create' %}" class="button">Create new course</a>
    </p>
</div>
{% endblock %}