{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-learning{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'js/base.js' %}" type="module" defer></script>
</head>

<body>
    <header id="header">
        <a href="/" class="logo">E-Learning</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sign out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>
    </header>
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>